name: markdownlint
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**/*.md'
      - '**/*.mdx'
      - '.markdownlint.json'
  merge_group:  # Needed for required workflows
  # Run after a review has been submitted (this is a required workflow which
  # might not be triggered when no code changes -- trigger before going to
  # merge queue).
  pull_request_review:
    types: [submitted]

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v20
      with:
        config: .markdownlint.json
        globs: |
          *.md
          **/*.md
