name: Rust CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**/*.rs'

permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rust
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c  # v1.15.2
        with:
          components: rustfmt
          toolchain: nightly
          matcher: true
      - name: fmt
        run: cargo +nightly fmt -- --check
  clippy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rust
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      # Ensure clippy is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c  # v1.15.2
        with:
          components: clippy
          toolchain: nightly
      - name: clippy
        run: cargo +nightly clippy --all-targets
